<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Librarian</title>
    <link th:href="@{/css/librarian_menu.css}" href="/static/css/librarian_menu.css" rel="stylesheet">
</head>
<body>
<a href="https://front.codes/" class="logo" target="_blank">
    <img class="logo-icon" th:src="@{/img/logo.png}">
</a>

<input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
<label for="menu-icon"></label>
<nav class="nav">
    <ul class="pt-5">
        <li><a th:href="@{/librarian/addBook}">Add a book</a></li>
        <li><a href="#">Add a genre</a></li>
        <li><a href="#">Show rented books</a></li>
        <li><a href="#">Search a book</a></li>
        <li><a href="#">Show information about program</a></li>
    </ul>
</nav>
<div class="section-center">

    <h3 style="padding-bottom: 300px">Librarian Panel</h3>
    <h1 style="margin-left: auto;margin-right: auto">Welcome Librarian!</h1>

</div>



</body>
</html>